#landing-page-container {
  animation: fadeIn 0.6s;
  -webkit-animation: fadeIn 0.6s;
  -moz-animation: fadeIn 0.6s;
  -o-animation: fadeIn 0.6s;
  -ms-animation: fadeIn 0.6s;
  min-height: 100vh;
  width: 100vw;
}

#left-section-container {
  flex-grow: 1;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 160px 0 0px 50px;
}

#doodle-1 {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 10%;
  left: 0;
  z-index: -100;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#doodle-img {
  width: 35rem;
}

/*Laptop*/
@media only screen and (max-width: 1024px) {
  #doodle-img {
    width: 20rem;
  }
}

/*Tablet*/
@media only screen and (max-width: 768px) {
  #left-section-container {
    padding: 10px 0 0px 11px;
  }

  #doodle-img {
    width: 80%;
    margin-top: 220px;
  }

  #doodle-1 {
    right: 0;
    align-items: center;
    justify-content: center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
