#mern-container {
  display: flex;
  align-items: center;
  padding: 0px 10px 30px 10px;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 12px;
  background-color: #393e46;
}

#developer-and-community-container {
  display: flex;
  background-color: #393e46;
  align-items: center;
  flex-direction: column;
  padding: 0px 15px 20px 15px;
  flex-grow: 1;
  margin: 12px;
}

.grey-text {
  color: grey;
}

.blue-text {
  color: #00adb5;
}

.bold-text {
  font-weight: bold;
}

#project-description-container {
  display: flex;
  justify-content: center;
  margin: 12px;
  flex-direction: row;
  flex-grow: 1;
  background-color: #393e46;
}

.technology-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 12px;
}

#about-page-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: #222831;
  font-weight: 100;
}
