#header-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 12px;
}

#inputs-card {
  flex-grow: 1;
  display: flex;
  background-color: #393e46;
  border-radius: 4px;
  margin-right: 24px;
}

#statistics-card {
  flex-grow: 40;
  background-color: #393e46;
  border-radius: 4px;
  color: white;
}

#controls-card {
  background: #393e46;
  border-width: 1px;
  border-radius: 4px;
  flex-grow: 1;
  margin-top: 24px;
  color: white;
}

#controls-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -5px;
}

.word-tag:hover {
  border-color: black;
  box-shadow: 3px 3px 0px #eeeeee;
  color: white;
}
