#header-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px;
  overflow: hidden;
}

#inputs-card {
  flex-grow: 1;
  display: flex;
  background-color: #fafafa;
  border-width: 0px;
  border-radius: 0px;
}

#statistics-card {
  flex-grow: 40;
  background-color: #f5f5f5;
  border-width: 0px;
  border-radius: 0px;
}

#controls-card {
  background: #f0f0f0;
  border-width: 0px;
  border-radius: 0px;
  flex-grow: 1;
}

#controls-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -5px;
}

.word-tag:hover {
  border-color: black;
  box-shadow: 1px 1px 5px #0050b3;
}
